* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.primary-btn {
    font-size: 20px;
    padding: 20px 43px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #E55473;
}



/* Bannaer Related Styles */

header {
    background-color: rgba(229, 84, 115, 0.1);
    padding-top: 50px;

    margin-bottom: 178px;
}

header .banner-container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 97px;
    margin: 0 auto;

}

.banner-container .banner-content {
    max-width: 708px;
    max-height: 506px;
    /* border: 1px solid black; */
}

.banner-content h1 {
    font-size: 80px;
    font-weight: 900;
    color: #272727;
    margin-bottom: 32px;
}

.banner-content p {
    font-size: 18px;
    font-weight: 500;
    color: rgba(39, 39, 39, 0.6);
    line-height: 26px;
    margin-bottom: 32px;

}

.banner-container .banner-image img {
    width: 100%;
    max-width: 635px;
    vertical-align: middle;
    max-height: 800px;
}


/* Featured related styles */

.feature-container {
    max-width: 1440px;
    margin: 0 auto;
}

.heading-container {
    text-align: center;
    max-width: 594px;
    text-align: center;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.heading-container h2 {
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: 600;
    color: #272727;
}

.heading-container p {
    font-size: 18px;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 48px;
}


.feature-card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 128px;
}


.feature-card {
    max-width: 343px;
    border: 1px solid black;
    padding: 20px 7px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(167, 33, 98, 0.15);


    font-size: 18px;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.6);
    border: none;
    border-radius: 12px;
    box-shadow: 1px 1px 2px 1px rgba(128, 128, 128, 0.404);
    aspect-ratio: 5 / 7;
}

.card2 {
    background-color: rgba(5, 151, 160, 0.15);
}

.card3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.feature-card img {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    padding-left: 25px;
}



/* Sticker section styles */

.sticker-section {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 128px;
    background-color: rgba(39, 39, 39, 0.05);
    padding: 86px 175px;
    border-radius: 8px;
}

.sticker-card-container {
    max-width: 1090px;
    display: flex;
    justify-content: center;
    gap: 72px;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.sticker-card {
    max-width: 372px;
    flex: 1;
    /* border: 1px solid black; */
    /* display: block; */
    align-content: center;
    text-align: center;

}

.sticker-card img {
    margin: 0 auto;
    max-width: 88px;
    margin-bottom: 24px;
}

.sticker-card h3 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);

}


/*Deal Section Styles  */

.discount-section {
    background-color: rgba(229, 84, 115, 0.05);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 128px;
}

.deal-container {
    max-width: 69%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    align-items: center;
}

.deal-content {
    max-width: 595px;
}

.deal-content h2 {
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: 900;
    color: #272727;
}

.off {
    color: #E55473;
}

.deal-content p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 24px;
}


.deal-image {
    max-width: 320px;
}

.deal-image img {
    width: 100%;
}



/* Flowers section */

.flowers {
    max-width: 90%;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-bottom: 128px;
}

.flowers-heading {
    text-align: center;
    max-width: 594px;
    text-align: center;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.flowers-heading h2 {
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: 600;
    color: #272727;
}

.flowers-heading p {
    font-size: 17px;
    font-weight: 500;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 48px;
    line-height: 26px;
}


.flowers-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.flower-card {
    max-width: 342px;
    border-radius: 8px;
    transition: transform 2s linear;
}

.flower-card:hover {
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
    transform: scale(1.03);
}

.flower-card img {
    width: 100%;
    border-radius: 8px;

}


/* Subscribe section */

.subscribe {
    max-width: 90%;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-bottom: 128px;
    padding-top: 122px;
    padding-bottom: 122px;
    border-radius: 8px;
    background-image: url('assets/Rectangle\ 9.png');
    text-align: center;

}

.subscribe-container {
    max-width: 866px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.input-container input {
    max-height: 64px;
    padding: 18px;
    width: 73%;
    padding-left: 20px;
    font-size: 16px;
    color: rgba(39, 39, 39, 0.6);
    background-color: white;
    border-radius: 8px;
    border: none;
}

.input-container button {
    max-height: 64px;
    padding: 23px;
    width: 25%;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #E55473;
    border-radius: 8px;
    border: none;


}

.subscribe-container h2 {
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: 600;
    color: #272727;
}

.subscribe-container p {
    font-size: 17px;
    font-weight: 500;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 48px;
    line-height: 26px;
}